import("tcltk")
importFrom("ade4", "dudi.pca", "dudi.coa", "dudi.acm", "dudi.pco", "dudi.fca", "dudi.fpca", "dudi.mix", "dudi.nsc", "is.dudi", "dist.dudi", "bca", "wca", "randtest")
importFrom("adegraphics", "table.value", "s.value", "s.arrow", "s.corcircle", "s.class", "s.match", "s.label", "s1d.dotplot", "plotEig", "plot", "score", "scatter", "superpose")
importFrom("lattice", "xyplot", "panel.rect")
importFrom("graphics", "abline", "lines")
importFrom("grDevices", "dev.copy", "dev.cur", "dev.list", "dev.new", "dev.off", "dev.set", "jpeg", "pdf", "pictex", "png", "postscript", "rainbow", "xfig")
importFrom("stats", "cutree", "dist", "hclust")
importFrom("utils", "data", "help", "help.start", "loadhistory", "savehistory")

export("ade4TkGUI")
export("choose")
export("dialog.between",
       "dialog.cca",
       "dialog.coinertia",
       "dialog.discrimin",
       "dialog.dpcoa",
       "dialog.dudi.acm",
       "dialog.dudi.coa",
       "dialog.dudi.dec",
       "dialog.dudi.display",
       "dialog.dudi.fca",
       "dialog.dudi.fpca",
       "dialog.dudi.mix",
       "dialog.dudi.nsc",
       "dialog.dudi.pca",
       "dialog.dudi.pco",
       "dialog.MCTests",
       "dialog.pcaiv",
       "dialog.pcaivortho"
       )
export("dialog.s.arrow",
       "dialog.s.chull",
       "dialog.s.class",
       "dialog.s.corcircle",
       "dialog.s.label",
       "dialog.s.match",
       "dialog.s.value",
       "dialog.within",
       "ordiClust")
