import(tcltk)
importFrom(ade4, dudi.pca, dudi.coa, dudi.acm, dudi.pco, dudi.fca, dudi.fpca, dudi.mix, dudi.nsc, is.dudi, dist.dudi, bca, wca, randtest)
importFrom(adegraphics, table.value, s.value, s.arrow, s.corcircle, s.class, s.match, s.label, s1d.dotplot, plotEig, plot, score, scatter, superpose)
importFrom(tkrplot, tkrplot, tkrreplot)
importFrom(lattice, xyplot, panel.rect)

exportPattern(".")
